/* BLOCO GERAIS */
*{
    margin: 0;
    top: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #000;
    height: 100vh;
}


.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #00FF08;
    border: none;

    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00FF08;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #00FF08;
    transform: scale(1.05);
}

/* BARRA DE ROLAGEM */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #00FF08;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
  }

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
    
}

header a:hover {
    color: #fff;
    transform: scale(1.05); /* para poder mexer com o transform temos que colocar o display: inline-block; */
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}




/* TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px; /* para distanciar o lado esquerdo da imagem, assim ele se agrupo om as modificações */
    
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #00FF08;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative; /* para aplicar o Keyframes precisa estar no position relative */
    animation: flutuar 2s ease-in-out infinite alternate;
/* Propriedae / nome dado a animação / tempo da conclução da animação / Velocidade, começar suaver e terminar suave / ficar em loop / alternando para 0 1 2 3... 100 99 98... */
}

    
/* Animação para a imagem */
@keyframes flutuar {
    0%{
        top: 0;
    }

    100%{
        top: 30px;
    }
}

/* ESTLO DAS ESPECIALIDADES */

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px ;
    margin-top: 45px;
    border-radius: 20px;
    transition: 0.2s;
    
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78 ;
    cursor: pointer;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #00FF08;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */

section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #00FF08;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00FF08;

    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.2s;
}

/* ESTILO DO PORTFÓLIO */
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex{
    justify-content: space-around;  /* Para ficar com espaço e centralizar */
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    border-radius: 40px;
    cursor: pointer;

    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
}

.overlay:hover{
    opacity: 1;
}

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none; /* para a pessoa não mexer no campo */
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #00FF08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

/* ESTILO DO RODAPÉ */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #00FF08;
}

footer .line-footer p i{
    color: #00FF08;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
    text-decoration: none;
}


/* Responsivel modo mobile */

@media screen and (max-width: 1020px) {
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column; /* colocar tudo um de baixo  do outro */ 
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse; /* para reverter so o texto e a imagem em movimento */
    }

    /* CABEÇALHO */
    .meu-desktop, .btn-contato{
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex{
        gap: 40px;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    /* ESPECIALIDAES */

    section.sobre .flex{
        flex-direction: column-reverse;
    }

    section.especialidades{
        padding: 40px 8%;
    } 

    /* ESTILO DO SOBRE */
    section.sobre{
        padding: 80px 8%;
    }
    
    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* PORTFOLIO */
    
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }

    /* RODAPÉ */
    footer .flex{
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer{
        text-align: center;
    }
}
